<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="Nuviacare"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthManagement"
        tools:targetApi="31"
        android:icon="@android:drawable/ic_menu_info_details"
        android:roundIcon="@android:drawable/ic_menu_info_details">
        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8617849690810653~3018223223" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HealthManagement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>